[report]
omit = 
        *__init__*
        */exceptions/*
        *infrastructure/routes/*
        *monitoring/datadog.yml*
        *deploy/heroku-entrypoint.sh*
        *infrastructure/db/database.py*
        *persistence/repositories/*
        *application/use_cases/question_solution/get.py*